backend/venv
venv
**/venv
**/node_modules
**/.git
**/.env
**/__pycache__
**/*.pyc
.tempmediaStorage
brain
uploads/*
!uploads/.gitkeep
vector_db/*
!vector_db/.gitkeep
logs/*
!logs/.gitkeep
frontend
docs
.pytest_cache
